@model ProductModel

@{
    ViewData["Title"] = "Create Product";
}

@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace("editor");
</script>
}

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateProduct" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-from-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-md-2 col-from-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-from-label"></label>
                <div class="col-md-10">
                    <textarea id="editor" type="text" asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Price" class="col-md-2 col-from-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="Price" value="@Model.Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-success">Save Product</button>
                </div>
            </div>

        </form>
    </div>
</div>