@model CategoryModel

@{
    ViewData["Title"] = "Create Category";
}
@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateCategory" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-from-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="Name" class="form-control" required="required" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-success">Save Category</button>
                </div>
            </div>

        </form>
    </div>
</div>